
txt-data.txt
mainfile.spec
.vscode/launch.json
.vscode/settings.json
*.xlsx
*.json
tempCodeRunnerFile.py
*.pyc
*.toc
*.zip
*.pkg
*.pyz
*.txt
*.pdf
*.ai
*.sqlite
.vs/UMT-Analysis/v16/.suo
*.manifest
*.html
